# Created by .ignore support plugin (hsz.mobi)

NLPenvV2
data
aclImdb_v1
modelFile*
__init__.py
setup.py

amazon_data/

.vscode

*.data

.idea
*.pyc
__pycache__/

*/svm_classify
*/svm_learn
